body {
  font-family: raleway, sans-serif;
}

#result {
  opacity: 0.01;
}

#header img {
  margin: 0 auto;
  display: block;
}

#header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 3px solid tomato;
}

#side, #main {
  margin-top: 1%;
  padding: 3%;
}

#side {
  background-color: lightyellow;
}

#result li {
  padding-left: 40px;
  font-size: 1.3em;
}

#range {
  margin-bottom: 10px;
}

#submit-btn {
  background-color: tomato;
  width: 100%;
  color: white;
  font-size: 2em;
}
